/* ********************************************** RESPONSIVE ************************************************* */

/* MOBILE M */

@media (min-width: 374px) and (max-width: 574px){
    header{
        flex-direction: column;
        justify-content: center;

    }

    .section2{
        flex-direction: column;
        

    }

    .big_box{
        margin: 0;
        padding: 0;

        
        flex-direction: column;
        align-items: center;
    }

    .logo{
        display: flex;
        width: 2%;
    }

    .nav_bar{
        flex-direction: column;
        margin-left: 300px;
    }
    .nav_bar > div{
        border-radius: 20px;
        width: 100px;
        background-color: #2152a1;

        margin-top: 10px;

        display: flex;
        justify-content: center;

    }

    .title_cyber >h2{
        
        font-size: 1em;
        width: max-content;

        justify-content: center;
      
    }

    .cyber_parent{
        
    margin-left: 30px;
    }

.banner_right{
   margin-left: 110px;

}

.partners_logo {
    flex-direction: column;
    align-items: center;
 
}

.sliders{
    margin-bottom: 10px;
    width: 2000px;

}

.who_section3{
    justify-content: center;
    align-items: center;

}

.risk{
   flex-direction: column;
   align-items: center;

}

.text_partners{
    width: 1000px;

}


   
}


/* TABLETTE */

@media (min-width: 575px) and (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;

    }

    .section2{
        flex-direction: column;
        

    }

    .big_box{
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        display: flex;
        width: 2%;
    }

    .nav_bar{
        flex-direction: column;
        margin-left: 300px;
    }

    .nav_bar > div{
        border-radius: 20px;
        width: 600px;
        background-color: #2152a1;

        margin-top: 10px;

    }

.h1{
        display: flex;
        justify-content: center;
        
    }
.contact2{
    display: flex;
    justify-content: center;

}

.contact{
    display: flex;
    justify-content: center;

}


.div6{
        background-color: aqua;
        display: flex;
        justify-content: center;
 }

.contact{
        width: auto;
    }
}  