@font-face {
    font-family: "OswalMedium";
    src: url(./../src/fonts/OswaldMedium.ttf);
}
@font-face {
    font-family: "OswalRegular";
    src: url(./../src/fonts/OswaldRegular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(./../src/fonts/RobotoBold.ttf);
}
@font-face {
    font-family: "RobotoMedium";
    src: url(./../src/fonts/RobotoMedium.ttf);
}
@font-face {
    font-family: "RobotoRegular";
    src: url(./../src/fonts/RobotoRegular.ttf);
}

body{
    width: 100vw;
    margin: 0;

    background-color: #08144D;
    

}
/* ********************************************** HEADER *************************************************** */
.logo > img{
    width: 130px;
    height: auto;

}

.logo{
    padding-right: 100px;
}

.burger{
    visibility: hidden;
}

header{
    background-image: url(./../src/image/banner-overlay-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 2%;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%; 
    
}

.nav_bar{
    display: flex;
    align-items: center;
    gap: 10%;

    margin-right: 212px;

}

.h1{
    font-family: RobotoRegular;
    color: white;
    font-size: 80%;
    font-weight: 100;
    white-space: nowrap;

    width: auto;

}
.div6{
    font-family: RobotoRegular;
    color: white;
    font-size: 35%;
    font-weight: 100;
    white-space: nowrap;

    width: auto; 

}

.contact{
    border-radius: 20px;
    background-color: #0ad3ef;

    width: 105px;
    height: 33px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact:hover{
    background-color: #0052d5;
    cursor: pointer;
}

/* **********************************************SECTION 2 *************************************************** */

.banner_right > img{

    width: 70%;
    height: auto;

}

.big_box{
    display: flex;
    justify-content: center;

}

.section2{
    width: 100vw;
    margin-top: 5%;

    display: flex;
}

.cyber_parent{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
   
}


h2{
    font-family: RobotoBold;
    font-size: 2.7em;
    color: white;

    margin: 0;

}

.title_cyber{
    margin: 0;
    padding: 0;
    padding-top: 5%;

    width: 58%;
}

.banner_right{
    width: 50%;

    display: flex;
    justify-content: start;
}


.contact_cyber{
    width: 59%;
    padding-top: 1.5%;

    font-family: RobotoRegular;
    color: white;
    font-size: 70%;
    font-weight: 100;
    white-space: nowrap;

    display: flex;
    gap: 4%;
    
}

.contact2{
    border-radius: 20px;
    background-color: #0ad3ef;

    font-family: RobotoRegular;
    color: white;
    font-size: 100%;
    font-weight: 100;
    white-space: nowrap;

    width: auto;

    width: 110px;
    height: 36px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact22{
    border-radius: 20px;
    background-color: rgb(30, 72, 144);

    font-family: RobotoRegular;
    color: white;
    font-size: 100%;
    font-weight: 100;
    white-space: nowrap;

    width: auto;

    width: 110px;
    height: 36px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}


.contact2:hover{
    background-color: #0052d5;
    cursor: pointer;
}

.subtitle_cyber{
    width: 58%;
}

h4{
    font-family: RobotoRegular;
    font-size: 69%;
    opacity: 0.6;
    color: white;
    font-weight: 1;
}


/* **********************************************SECTION 3 *************************************************** */
.section3{
    background-image: url(./../src/image/backright.png);
    background-repeat: no-repeat;
    background-position: right bottom 100px;
    background-size: 14%;
    padding-top: 5%;
    
    padding-bottom: 5%;
}

.partners{
    display: flex;
    justify-content: center;

    height: 0px

}

h3{
    font-family: RobotoRegular;
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #3290be;
    text-align: justify;

}

.title3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;

}

.h5{
    color: white;
    font-family:RobotoRegular;
    font-size: 1.9em;
    line-height: 120%;

    margin: 0;

}

.partners_logo > div{
    border-radius: 5px;
    background-color: #17256e;

    height: 90px;
    width: 105px;
    margin-bottom: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.partners_logo > div > img{
    width: 51%;
    height: 60%;
   
}

.partners_logo{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 0%;

}

.sliders:hover img{
    cursor: pointer;
    transition: 1s ;
    transform: translate3d(0px, -10px,0px);
    filter: brightness(100);
    

}

.sliders:hover{
    background-color: #0ad3ef;
    cursor: pointer;
    
}

.image_section3{
    width: 50%;
    display: flex;
    justify-content: end;

}

.risk{
    width: 100vw;

    display: flex;
    justify-content: start;
   
}

.risk > div > img{
    width: 63%;
    height: auto;

}

ul{
    font-family:RobotoRegular;
    font-size: 70%;
    font-weight: 100;
    color: white;
    opacity: 0.6;

    line-height: 20px;

    list-style: none;
    margin-left: -40px;

}

li > img{

    width: 12px;
    border-radius: 20px;

    margin-right: 7px;

}

.text_partners{
    width: 60%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.who_section3{
    width: 50%;
    line-height: 20px;
    margin-left: 7%;
}

/* **********************************************SECTION 4 *************************************************** */

.section4{
    background-image: url(./../src/image/overly-img.png);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    background-color:  rgb(19,34,96);

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 0%;
}

.what_we_do{
    display: flex;
    justify-content: center;
    padding-top: 5%;

}

.reduce_risk > h5{
    color: white;
    font-family:RobotoRegular;
    font-size: 1.9em;
    line-height: 120%;
    margin: 0;
}

.reduce_risk{
    display: flex;
    justify-content: center;

}

.options_4{
    display: flex;
    justify-content: center;
    gap: 1%;

    padding-top: 2%;
    width: 100vw;
}

.options_4 > div{
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 1%;
    padding-top: 2%;
    background-color: #17256e;
    border-radius: 8px;

}

.options_box1 > div > h4{
    padding-right: 10px;
    line-height: 15px;
}

.options_box2 > div > h4{
    padding-right: 10px;
    line-height: 15px;
}

.options_box3 > div > h4{
    padding-right: 10px;
    line-height: 15px;
}

.options_box4 > div > h4{
    padding-right: 10px;
    line-height: 15px;
}

.options_4 > div > div > img{
    width: 60%;
    padding-bottom: 15px;
}

.h6{
    color: white;
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    font-family: RobotoRegular;
    opacity: 0.8;
    
}

.started_section4{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;

    font-family: RobotoRegular;
    color: white;
    font-size: 70%;
    font-weight: 100;

    justify-content: center;

    display: flex;
    gap: 4%;

}

.options_box1{
    width: 10%;
    font-family: RobotoRegular;
    border: 1px solid #17256e;

}

.options_box2{
    width: 10%;
    font-family: RobotoRegular;
    padding-left: 3px;
    border: 1px solid #17256e;
}

.options_box3{
    width: 10%;
    font-family: RobotoRegular;
    padding-left: 3px;
    border: 1px solid #17256e;

}

.options_box4{
    width: 10%;
    font-family: RobotoRegular;
    padding-left: 3px;
    border: 1px solid #17256e;

}

.options_4 > div:hover{
    border: 1px solid #0ad3ef;
    border-radius: 5px;
    cursor: pointer;

    
}

.options_4 > div:hover img{
    cursor: pointer;
    transition: 1s ;
    transform: translate3d(0px, -6px,0px);
   
}

