@font-face {
    font-family: "OswalMedium";
    src: url(./../src/fonts/OswaldMedium.ttf);
}
@font-face {
    font-family: "OswalRegular";
    src: url(./../src/fonts/OswaldRegular.ttf);
}
@font-face {
    font-family: "RobotoBold";
    src: url(./../src/fonts/RobotoBold.ttf);
}
@font-face {
    font-family: "RobotoMedium";
    src: url(./../src/fonts/RobotoMedium.ttf);
}
@font-face {
    font-family: "RobotoRegular";
    src: url(./../src/fonts/RobotoRegular.ttf);
}

body{
    width: 100vw;
    margin: 0;

    background-color: rgb(11, 24, 79);
    

}
/* ********************************************** HEADER *************************************************** */
.logo > img{
    width: 100px;
    height: auto;

}

.logo{
    padding-right: 100px;
}


header{
    background-image: url(./../src/image/banner-overlay-img.png);
    background-size: cover;
    background-position: left;
    padding-top: 4%;
    padding-bottom: 4%;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%; 
    
}

.nav_bar{
    display: flex;
    align-items: center;
    gap: 20%;

    margin-right: 300px;

}

.h1{
    font-family: OswalRegular;
    color: white;
    font-size: 70%;
    font-weight: 400;
    white-space: nowrap;

    width: auto;

}
.div6{
    font-family: OswalRegular;
    color: white;
    font-size: 30%;
    font-weight: 400;
    white-space: nowrap;

    width: auto; 

}

.contact{
    border-radius: 20px;
    background-color: #0ad3ef;

    width: 100px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact:hover{
    background-color: #0052d5;
    cursor: pointer;
}

/* **********************************************SECTION 2 *************************************************** */

.banner_right > img{

    width: 70%;
    height: auto;

}

.big_box{
    display: flex;
    justify-content: center;

}

.section2{
    width: 100vw;
    margin-top: 5%;

    display: flex;
}

.cyber_parent{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
   
}

h2{
    font-family: sans-serif;
    font-size: 2em;
    color: white;

    margin: 0;

}

.title_cyber{
    margin: 0;
    padding: 0;

    width: 50%;
}

.banner_right{
    width: 50%;

    display: flex;
    justify-content: start;
}


.contact_cyber{
    width: 50%;

    font-family: OswalRegular;
    color: white;
    font-size: 30%;
    font-weight: 400;
    white-space: nowrap;

    display: flex;
    gap: 2%;
    
}

.contact2{
    border-radius: 20px;
    background-color: #0ad3ef;

    font-family: OswalRegular;
    color: white;
    font-size: 70%;
    font-weight: 400;
    white-space: nowrap;

    width: auto;

    width: 100px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact2:hover{
    background-color: #0052d5;
    cursor: pointer;
}

.subtitle_cyber{
    width: 50%;
}

h4{
    font-family: OswalRegular;
    font-size: 60%;
    color: white;
    font-weight: 1;
}


/* **********************************************SECTION 3 *************************************************** */
.section3{
    background-image: url(./../src/image/backright.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15%;
    
    padding-bottom: 5%;
}

.partners{
    display: flex;
    justify-content: center;

    height: 0px

}

h3{
    font-family: OswalRegular;
    font-size: 0.7em;
    letter-spacing: 2px;
    color: #3290be;
    text-align: justify;

}

.title3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;

}

.h5{
    color: white;
    font-family:OswalRegular;
    font-size: 1.5em;

    margin: 0;

}

.partners_logo > div{
    border-radius: 5px;
    background-color: #17256e;

    height: 80px;
    width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.partners_logo > div > img{
    width: 50%;
    height: 50%;
   
}

.partners_logo{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 7%;

}

.sliders:hover img{
    cursor: pointer;
    transition: 1s ;
    transform: translate3d(0px, -10px,0px);
    

}

.sliders:hover{
    background-color: #0ad3ef;
    cursor: pointer;
    
}

.image_section3{
    width: 50%;

    display: flex;
    justify-content: end;

}

.risk{
    width: 100vw;

    display: flex;
    justify-content: start;
   
}

.risk > div > img{
    width: 50%;
    height: auto;

}

ul{
    font-family:OswalRegular;
    font-size: 70%;
    font-weight: 100;
    color: white;

    line-height: 20px;

    list-style: none;
    margin-left: -40px;

}

li > img{

    width: 15px;
    border-radius: 20px;

    margin-right: 7px;

}

.text_partners{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.who_section3{
    width: 50%;
    margin-left: 10%;
}

/* **********************************************SECTION 4 *************************************************** */

.section4{
    background-image: url(./../src/image/overly-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color:  rgb(19,34,96);

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 5%;
}

.what_we_do{
    display: flex;
    justify-content: center;

}

.reduce_risk > h5{
    color: white;
    font-family:OswalRegular;
    font-size: 1.5em;

    margin: 0;
}

.reduce_risk{
    display: flex;
    justify-content: center;

}

.options_4{
    display: flex;
    justify-content: center;
    gap: 5%;

    padding-top: 2%;
    width: 100vw;
}

.options_4 > div{
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 2%;
    background-color: #17256e;
    border-radius: 5px;

}

.options_4 > div > div > img{
    width: 70%;
    padding-bottom: 25px;

}

.h6{
    color: white;
    font-size: 10px;
    margin: 0;

}

.started_section4{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 2%;

}

.options_box1{
    width: 8%;
    font-family: OswalRegular;
}

.options_box2{
    width: 8%;
    font-family: OswalRegular;
}

.options_box3{
    width: 8%;
    font-family: OswalRegular;

}

.options_box4{
    width: 8%;
    font-family: OswalRegular;
}

.options_4 > div:hover{
    border: 1px solid #0ad3ef;
    border-radius: 5px;
    cursor: pointer;
    
}

.options_4 > div:hover img{
    cursor: pointer;
    transition: 1s ;
    transform: translate3d(0px, -20px,0px);
   
}
